@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.top {
  background-color: #1F2937;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.header{
  width: 920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.logo {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 24px;
}

a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.container {
  display: flex;
  width: 920px;
}

.left {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  margin-right: 20px;
}

.main img {
  max-width: 450px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.awesome-text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.subtext {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  font-family: Roboto, sans-serif;
  color: #F9FAF8;
  font-weight: 800;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: #3882F6;
  padding: 8px 36px;
}

.middle-info {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 50px 0 100px 0;
}

.middle-info .container {
  justify-content: center;
  gap: 64px;
}

.random-info {
  color: #1F2937;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 50px;
}

.info {
  max-width: 150px;
}

.info img {
  height: 150px;
  width: 150px;
  margin-bottom: 8px;
/* Uncomment if no image
  border: 4px solid #3882F6;
  border-radius: 12px;
*/
}

.info-text {
  color: #1F2937;
}

.middle-quote {
  background-color: #E5E7EB;
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.middle-quote .container {
  width: 825px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 24px;
}

.quote {
  color: #1F2937;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  text-align: left;
}

.quotee {
  color: #1F2937;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  align-self: flex-end;
  margin-right: 36px;
}

.banner {
  background-color: #3882F6;
  color: #F9FAF8;
  width: 920px;
  border-radius: 8px;
  margin: 100px 0;
  align-self: center;
}

.banner .container {
  padding: 48px 128px;
  width: auto;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.banner-title {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

.banner button {
  border: 2px solid #F9FAF8;
  align-self: center;
}

.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  padding: 36px;
}